body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.nav-container {
  display: flex;
  width: 100vw;
  height: 70px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(207, 203, 203, 0.418);
  position: fixed;
  top: 0;
  background-color: white;
}

.nav-container img {
  margin: -15px 5px 0 5px;
  height: 100px;
}

/* Hero */
.hero {
  font-family: sans-serif;
  margin: 10px 15px;
  color: #57575a;
  margin-top: 100px;
}

.hero h2 {
  margin-bottom: 5px;
}

.one-of-a-kind {
  margin-bottom: 50px;
}

.covid {
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
}

.sm-bold-text {
  font-size: 12px;
  color: #57575a;
  font-weight: 700;
}

.lg-bold-text {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
}

.hero a {
  color: #57575a;
}

/* Card */

.card-section {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
  height: 400px;
}

.card-section::-webkit-scrollbar {
  display: none;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 210px;
  margin: 10px 20px 10px 10px;
  line-height: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 9px;
  font-size: 12px;
}

.card .container {
  padding: 0px 0px 5px 5px;
}

.card-image {
  width: 210px;
  height: 70%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-bottom: 9px;
}

.star {
  height: 11px;
}

.title {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.card-title {
  margin-top: 2px;
}

/* TrustIcons */

.icon-section {
  display: flex;
  height: 350px;
  background-color: rgb(240, 240, 240);
  margin: 20px auto 20px auto;
}

.icon-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 70px;
  margin-left: 20px;
  margin-top: -20px;
}

.icon-section .container h2 {
  margin-left: -5px;
  font-size: 23px;
  color: #2f2f31;
}

.icon {
  height: 45px;
  margin-bottom: -16px;
  margin-right: 10px;
}

ul {
  list-style: none;
}

.icon-section li {
  font-size: 14px;
}

/* Breakpoints */

@media only screen and (min-width: 769px) {
  /* Nav */
  .nav-container img {
    margin: -15px 5px 0 20px;
  }

  /* Hero */

  .hero {
    margin: 100px 20px 10px 35px;
  }

  .one-of-a-kind {
    width: 500px;
    font-size: 45px;
    margin-left: -2px;
  }

  .covid {
    text-align: left;
    margin-top: -20px;
  }

  /* Cards */

  .card-section {
    margin: 0px 20px;
  }

  /* Trust Icons */

  .icon-section .container {
    flex-direction: row;
    margin: auto;
    width: 100%;
  }

  .icon-section h2 {
    width: 26.3%;
    line-height: 30px;
    margin-top: -90px;
    margin-right: 40px;
    color: #2f2f31;
  }
}

@media only screen and (min-width: 1200px) {
  .icon-section .container h2 {
    font-size: 25px;
  }
}
